<!DOCTYPE html>
<html>
<head>
  <title>Mata Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div style="background:green !important" class="jumbotron">
    <h1>Mata Data</h1>
    <p>Where Your Ideas truly Mata</p>
  </div>
      <input name="search_form" class="form-search search-box" type="text" id="search-bar" placeholder="Search Ideas">
    <%= yield %>
  </body>
  </html>
